<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src=script.js></script>
</head>

<body ng-app="app">
    <!--Alt + shift + F (identa o código)-->
    <!--Alt + shift + A (comenta o código selecionado)-->
    <div ng-controller="appCtrl">

        <form name="searchUser">
            <h3>{{countdown}} </h3>
            <!-- ng-model sempre vai manter seus dados sincronizados e pode ser usados em inputs,select, etc. -->
            <input type="search" required placeholder="User name to find" ng-model="username" />
            <!--Não é necessário passar o paramentro do usuario  -->
            <input type="submit" value="Search" ng-click="search(username)" />
        </form>
        <h1 style="color:red"> {{error}}</h1>

        <div ng-include="'userdetails.html'" ng-show="user"></div>

    </div>

</body>

</html>